<html>
  <head>
         <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
         <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
         <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  </head>
  <body>
<div class="container">

<div class="row">
   <div class="col-md-3">
       <ul class="nav nav-pills nav-stacked">
           <li class="active"><a href="#"><i class="fa fa-home fa-fw"></i>HOME</a></li>
           <li><a href="https://www.bootstrapdash.com/ecommerce-website-admin-template/"><i class="fa fa-list-alt fa-fw"></i>ADD MERCHANT</a></li>
           <li><a href="https://www.bootstrapdash.com/ecommerce-website-admin-template/"><i class="fa fa-list-alt fa-fw"></i>ADD MERCHANT COUPONS</a></li>
           <li><a href="http://www.jquery2dotnet.com"><i class="fa fa-file-o fa-fw"></i>ADD MERCHANT DISCOUNT</a></li>
           <li><a href="http://www.jquery2dotnet.com"><i class="fa fa-bar-chart-o fa-fw"></i>REMOVE MERCHANT</a></li>
           <li><a href="http://www.jquery2dotnet.com"><i class="fa fa-table fa-fw"></i>REMOVE COUPONS</a></li>
           <li><a href="http://www.jquery2dotnet.com"><i class="fa fa-tasks fa-fw"></i>REMOVE DISCOUNT</a></li>
           <li><a href="http://www.jquery2dotnet.com"><i class="fa fa-calendar fa-fw"></i>UPDATE PRODUCT CATEGPORY</a></li>
           <li><a href="http://www.jquery2dotnet.com"><i class="fa fa-book fa-fw"></i>VIEW ALL MERCHANT</a></li>
           <li><a href="http://www.jquery2dotnet.com"><i class="fa fa-pencil fa-fw"></i>VIEW ALL CUSTOMERS</a></li>
           <li><a href="http://www.jquery2dotnet.com"><i class="fa fa-cogs fa-fw"></i>VIEW PRODUCT INVENTORY</a></li>
       </ul>
   </div>
   <div class="col-md-9 well">
       WELCOME TO ADMIN MENU!!
   </div>
</div>
</div>
</body>
</html>

