
<!------ Include the above in your HEAD tag ---------->

<!Doctype html>
<html>
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <meta charset="UTF-8">
     <title>Registration Form</title>
     	<meta name="viewport" content="width=device-width, initial-scale=3">
</head>
<body>
 <div class="container">
 <!---heading---->
     <header class="heading"> ADD MERCHANT</header>
	<!---Form starting----> 
	<div class="row ">
	 <!--- For Name---->
         <div class="col-sm-12">
             <div class="row">
			     <div class="col-xs-4">
          	         <label class="firstname">Enter Merchant ID :</label> </div>
		         <div class="col-xs-8">
		             <input type="text" placeholder="Enter Merchant ID" class="form-control ">
             </div>
		      </div>
		 </div>
		 
		 
         <div class="col-sm-12">
		     <div class="row">
			     <div class="col-xs-4">
                     <label class="lastname">Add Merchant Date:</label></div>
				<div class ="col-xs-8">	 
		             <input type="text" placeholder="Add Merchant Date" class="form-control last">
                </div>
		     </div>
		 </div>
     <!-----For password---->
		 <div class="col-sm-12">
		     <div class="row">
			     <div class="col-xs-4">
		             <label class="mail" >Enter Password :</label></div>
			     <div class="col-xs-8"	>	 
			          <input type="password" placeholder="Enter your Password" class="form-control" >
		         </div>
		     </div>
		 </div>
	 <!------------For Email----------------->
          <div class="col-sm-12">
		         <div class="row">
				     <div class="col-xs-4">
		 	              <label class="pass">Enter Email:</label></div>
				  <div class="col-xs-8">
			             <input type="text" placeholder="Enter your Email" class="form-control">
				 </div>
          </div>
		  </div>
	<!-------------------------------------------------------------->	  
		  <div class="col-sm-12">
		         <div class="row">
				     <div class="col-xs-4">
		 	              <label class="phn">Enter Phone Number:</label></div>
				  <div class="col-xs-8">
			             <input type="text" placeholder="Enter Phone Number" class="form-control">
				 </div>
          </div>
		  </div>
		  <!--------------------------------------------------------------------->
		  <div class="col-sm-12">
		         <div class="row">
				     <div class="col-xs-4">
		 	              <label class="ermv">Enter Remove Merchant Date:</label></div>
				  <div class="col-xs-8">
			             <input type="text" placeholder="Enter Remove Merchant Date" class="form-control">
				 </div>
          </div>
		  </div>
	<!---------------------------------------------------------------------------------------->
		    <div class="col-sm-12">
		         <div class="row">
				     <div class="col-xs-4">
		 	              <label class="mrn">Merchant Name:</label></div>
				  <div class="col-xs-8">
			             <input type="text" placeholder="Merchant name" class="form-control">
				 </div>
          </div>
		  </div>
		  <!---------------------------------------------------------------------------------------->
		      <div class="col-sm-12">
		         <div class="row">
				     <div class="col-xs-4">
		 	              <label class="mrn">Merchant Status:</label></div>
				  <div class="col-xs-8">
			             <input type="text" placeholder="Merchant status" class="form-control">
				 </div>
          </div>
		  </div>
		  <!----------------------------------------------------------------------------------------->
		     <div class="col-sm-12">
		         <div class="row">
				     <div class="col-xs-4">
		 	              <label class="sq">Security Question:</label></div>
				  <div class="col-xs-8">
			             <input type="text" placeholder="Security question" class="form-control">
				 </div>
          </div>
		  </div>
		  <!------------------------------------------------------------------------------------------>
		   <div class="col-sm-12">
		         <div class="row">
				     <div class="col-xs-4">
		 	              <label class="sa">Security Answer:</label></div>
				  <div class="col-xs-8">
			             <input type="text" placeholder="Security Answer" class="form-control">
				 </div>
          </div>
		  </div>
     <!-----------For Phone number-------->
     
         <div class="col-sm-12">
		     <div class ="row">
                 <div class="col-xs-4 ">
			       <label class="gender">Is Third Party:</label>
				 </div>
			 
			     <div class="col-xs-4 female">	 
				     <input type="radio" name="answer">Yes
				 </div>
				 
				 <div class="col-xs-4 female">
				     <input type="radio"  name="answer">No
			     </div>
			
		  	 </div>
		     
		         <div class="mm">
		             <input type="submit"> 
		   </div>
		 </div>
	 </div>	 
		 		 
		 
</div>

</body>		
</html>