<html>
<head>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>


<body>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<nav class="navbar navbar-expand-md navbar-dark bg-dark">

  <div class="container" >
      
  <a class="navbar-brand" href="index.html">CAPSTORE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content" id="navbarsExampleDefault">
      <ul class="navbar-nav m-auto">
          <li class="nav-item">
              <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item ">
              <a class="nav-link" href="category.html">Categories </a>
          </li>
          <li class="nav-item ">
              <a class="nav-link" href="category.html">Product</a>
          </li>
          
          <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact</a>
          </li>
      </ul>
<div >
  
      <form class="form-inline my-2 my-lg-0">
          <br>

          <a class="btn btn-success btn-sm ml-3" href="cart.html">
              <i class="fa fa-shopping-cart"></i> Cart
              <span class="sr-only">(current)</span>
          </a>
          <a class="btn btn-success btn-sm ml-3" href="cart.html">
              <i class="glyphicon glyphicon-log-out"></i> Logout
              <span class="badge badge-light"></span>
          </a>
          <a class="btn btn-success btn-sm ml-3" href="cart.html">
              <i class="fa fa-heart"></i> Wishlist
              <span class="badge badge-light"></span>
          </a>
          
      </form>
  </div>
</div>
</div>
</nav>
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">CAPSTORE CART</h1>
     </div>
</section>

<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table">
  <thead>
    <tr>
      <th scope="col">Cart ID</th>
      <th scope="col">Total Amount</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      
    </tr>
  </tbody>
</table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <button class="btn btn-lg btn-block btn-success text-uppercase">Continue Shopping</button>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <button class="btn btn-lg btn-block btn-success text-uppercase">Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="text-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>About</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <p class="mb-0">
                   CapStore is a place where you can find anything easily and affordabily.
                </p>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3">
                <h5>Contact</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><i class="fa fa-home mr-2"></i> Capgemini Technology Services India Limited – Plot No.14, Rajiv Gandhi Infotech Park, Hinjewadi, Phase-III, MIDC-SEZ, Village Man, Taluka Mulshi, Pune, Maharashtra, India, 411057</li>
                    <li><i class="fa fa-envelope mr-2"></i> capstore@gmail.com</li>
                    <li><i class="fa fa-phone mr-2"></i> + 33 12 14 15 16</li>
                    <li><i class="fa fa-print mr-2"></i> + 33 12 14 15 16</li>
                </ul>
            </div>
            <div class="col-12 copyright mt-3">
                <p class="float-left">
                    <a href="#">Back to top</a>
                </p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>